
consumer_key=<consumer_key>
consumer_secret=<consumer_secret>
pass_key=<pass_key>


MPESA_ENVIRONMENT = 'production'

MPESA_CONSUMER_KEY=<consumer_key>
MPESA_CONSUMER_SECRET =<consumer_secret>

#Shortcode to use for transactions. For sandbox  use the Shortcode 1 provided on test credentials page

MPESA_SHORTCODE =<shortcode>

MPESA_SHORTCODE_TYPE = 'paybill' # or 'shortcode'


MPESA_PASSKEY =<pass_key>


access_token_url=https://api.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
checkout_url=https://api.safaricom.co.ke/mpesa/stkpush/v1/processrequest

SAF_ACCESS_TOKEN_API=https://api.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
SAF_STK_PUSH_API=https://api.safaricom.co.ke/mpesa/stkpush/v1/processrequest
SAF_STK_PUSH_QUERY_API=https://api.safaricom.co.ke/mpesa/stkpushquery/v1/query

c2b_callback=<c2b_callback>
register_url=<register_url>
confirmation_url=<confirmation_url>
validation_url=<validation_url>